/* .foruppercase{
    color: red;
    background-color: white;
    border-color: black;
}
.forlowercase{
    padding: auto;
    margin-left: 1%;
    color: red;
    background-color: whitesmoke;
    border-left-color: black;
} */